@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.active{
  background-color: beige;
}

select,input,textarea{
  outline: none;
  
}